*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}
body.dragging {
  cursor: grabbing;
}

#app {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}
